* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fc;
}

.interact {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 50;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
header .wrapper {
  width: 960px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .wrapper .logo {
  width: 8em;
}
header .wrapper .user-buttons {
  display: flex;
  width: 5em;
  justify-content: space-evenly;
}
header .wrapper .user-buttons .bell {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: #b8b9bb;
  transition: color 0.2s;
}
header .wrapper .user-buttons .bell:hover {
  color: #666768;
}
header .wrapper .user-buttons .dropdown-menu {
  position: relative;
}
header .wrapper .user-buttons .dropdown-menu label.user {
  display: flex;
  justify-content: center;
  width: 35px;
  background-color: #f69820;
  height: 35px;
  border-radius: 50%;
  align-items: center;
  font-size: 1.2em;
  color: #fff;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}
header .wrapper .user-buttons .dropdown-menu label.user:hover {
  background-color: #e99425;
  border: none;
  outline: none;
}
header .wrapper .user-buttons .dropdown-menu label.user span {
  line-height: 1px;
}
header .wrapper .user-buttons .dropdown-menu .menu {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 9em;
  right: -25px;
  padding: 10px 15px;
}
header .wrapper .user-buttons .dropdown-menu .menu h5 {
  font-weight: 100;
  color: #c3c3c3;
  text-align: center;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 4px;
  background-color: #fff;
}
header .wrapper .user-buttons .dropdown-menu .menu ul {
  list-style: none;
  text-align: left;
  padding-top: 5px;
}
header .wrapper .user-buttons .dropdown-menu .menu ul li {
  padding: 0.4em;
  cursor: pointer;
}
header .wrapper .user-buttons .dropdown-menu .menu ul li:hover {
  background-color: #ececec;
  transition: background-color 0.2s;
}

#trigger {
  display: none;
}

#trigger:checked + .dropdown-menu .menu {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100%;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 960px;
}
main .wrapper .container {
  height: 500px;
  margin: auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
  grid-template-rows: 0.6fr 0.6fr 0.7fr 0.3fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "bsa js php php" "bsa js php php" "bsa js dotnet events" "qa js dotnet events" "qa js dotnet blog" "qa java dotnet blog" "qa java dotnet contacts";
}
main .wrapper .container .elem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
main .wrapper .container .elem.bsa {
  grid-area: bsa;
  background-color: #fff;
}
main .wrapper .container .elem.qa {
  grid-area: qa;
  font-weight: 400;
  font-size: 4em;
  background-color: #52BF77;
}
main .wrapper .container .elem.js {
  grid-area: js;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5px;
  color: #000;
  font-weight: 700;
  font-size: 6em;
  background-color: #F7D069;
}
main .wrapper .container .elem.java {
  grid-area: java;
  font-size: 2.5em;
  background-color: #E12A4B;
}
main .wrapper .container .elem.php {
  grid-area: php;
  color: #000;
  font-style: italic;
  font-size: 4.5em;
  background-color: #8893C0;
}
main .wrapper .container .elem.dotnet {
  grid-area: dotnet;
  font-size: 5em;
  background-color: #642277;
}
main .wrapper .container .elem.events {
  grid-area: events;
  background-color: #2D9AFF;
}
main .wrapper .container .elem.blog {
  grid-area: blog;
  background-color: #1543A3;
}
main .wrapper .container .elem.contacts {
  grid-area: contacts;
  background-color: #09255E;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
