* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f8f9fc;
}

.interact {
    cursor: pointer;

}