header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: column;
    z-index: 50;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    .wrapper {
        width: 960px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .logo {
            width: 8em;
        }

        .user-buttons {
            display: flex;
            width: 5em;
            justify-content: space-evenly;
            .bell {
                display: flex;
                align-items: center;
                font-size: 1.1em;
                color: #b8b9bb;
                transition: color .2s;

                &:hover {
                    color: #666768;
                }
            }

            .dropdown-menu {
                position: relative;
                label.user {
                    display: flex;
                    justify-content: center;
                    width: 35px;
                    background-color: #f69820;
                    height: 35px;
                    border-radius: 50%;
                    align-items: center;
                    font-size: 1.2em;
                    color: #fff;
                    transition: background-color .2s;
                    border: none;
                    outline: none;

                    &:hover {
                        background-color: #e99425;
                        border: none;
                        outline: none;
                    }

                    span {
                        line-height: 1px;
                    }
                }

                .menu {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    width: 9em;
                    right: -25px;
                    padding: 10px 15px;

                    h5 {
                        font-weight: 100;
                        color: #c3c3c3;
                        text-align: center;
                        border-bottom: 1px solid #c3c3c3;
                        padding-bottom: 4px;
                        background-color: #fff;
                    }

                    ul {
                        list-style: none;
                        text-align: left;
                        padding-top: 5px;

                        li {
                            padding: 0.4em;
                            cursor: pointer;

                            &:hover {
                                background-color: #ececec;
                                transition: background-color .2s;
                            }
                        }
                    }
                }
            }
        }
    }
}

#trigger {
    display: none;
}

#trigger:checked + .dropdown-menu .menu {
    display: block;
}
