main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100%;

    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 960px;

        .container {
            height: 500px;
            margin: auto 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1.3fr 0.7fr;
            grid-template-rows: 0.6fr 0.6fr 0.7fr 0.3fr 0.5fr 0.5fr 0.5fr;
            grid-template-areas:
                "bsa js php php"
                "bsa js php php"
                "bsa js dotnet events"
                "qa js dotnet events"
                "qa js dotnet blog"
                "qa java dotnet blog"
                "qa java dotnet contacts";

            .elem {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;

                &.bsa {
                    grid-area: bsa;

                    background-color: #fff;
                }

                &.qa {
                    grid-area: qa;

                    font-weight: 400;
                    font-size: 4em;
                    background-color: #52BF77;
                }

                &.js {
                    grid-area: js;

                    justify-content: flex-end;
                    align-items: flex-end;
                    padding: 0 5px;

                    color: #000;
                    font-weight: 700;
                    font-size: 6em;
                    background-color: #F7D069;
                }

                &.java {
                    grid-area: java;

                    font-size: 2.5em;
                    background-color: #E12A4B;
                }

                &.php {
                    grid-area: php;

                    color: #000;
                    font-style: italic;
                    font-size: 4.5em;

                    background-color: #8893C0;
                }

                &.dotnet {
                    grid-area: dotnet;

                    font-size: 5em;

                    background-color: #642277;
                }

                &.events {
                    grid-area: events;

                    background-color: #2D9AFF;
                }

                &.blog {
                    grid-area: blog;

                    background-color: #1543A3;
                }

                &.contacts {
                    grid-area: contacts;

                    background-color: #09255E;
                }
            }
        }
    }
}